@import url("https://fonts.googleapis.com/css?family=Rubik");
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    color: #707070;
    text-align: center;
}

h1 {
    color: #3b3b3b;
    font-size: 2em;color: #3b3b3b;
    font-size: 2em;
}

h3 {
    color: #3b3b3b;
    font-size: 1.375em;
}

/**************************************/
/* Estilos de headernav */

#headernav {
    background: #ECECEC;
}

.link-menu {
    color: #707070;
    text-decoration: none;
}

a:hover {
    color: #6984E6;
}

/**************************************/
/* Estilos de principal */

#principal {
    margin-top: 3.125em;
    min-height: calc(100vh - 4.6875em);
    text-align: center;
}


/**************************************/
/* Estilos de pie */

#pie {
    background: #3b3b3b;
    color: #fff;
    height: 4.6875em;
}

/**************************************/
/* Estilos de producto */

#producto {
    background: -webkit-linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    background: -moz-linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    background: linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    color: floralwhite;
    text-align: center;
}

.espacio-row {
    padding-top: 3em;
    padding-bottom: 3em;
    color: floralwhite;
}

/**************************************/
/* Estilos de contacto */

#formulario {
    margin-top: 3.125em;
    color: #3b3b3b;
    text-align: center;
}

.espacio-input {
    margin-top: 10px;
    margin: 10px;
}

